name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: deps
        run: sudo apt install clang-format-9

      - name: lint
        run: clang-format-9 -i main.cpp && git diff --exit-code
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        llvm-toolchain: [9, 10, 11, 12, 13, 14, 15]
    steps:
      - uses: actions/checkout@v2

      - name: deps
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-${{ matrix.llvm-toolchain }} main"
          sudo apt update
          sudo apt install \
            llvm-${{ matrix.llvm-toolchain }} \
            llvm-${{ matrix.llvm-toolchain }}-dev \
            clang-${{ matrix.llvm-toolchain }} \
            libclang-${{ matrix.llvm-toolchain }}-dev

      - name: build
        run: |
          export LLVM_DIR=/usr/lib/llvm-${{ matrix.llvm-toolchain }}/lib/cmake/llvm
          export Clang_DIR=/usr/lib/llvm-${{ matrix.llvm-toolchain }}/lib/cmake/clang
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          cmake --build .
